body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f5f9; /* Esta linha define a cor do fundo como azul claro no bot達o VERIFICAR*/
  }
  
  .container {
    text-align: center;
  }
  
  .blue-label {
    color: #3498db; /* Cor azul clara para as letras */
  }
  
  .blue-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db; /* Cor azul clara para o bot達o antes de ser clicado */
    color: white; /* Cor branca para as letras no bot達o */
    border: none;
    border-radius: 4px;
  }
  
  .blue-button:hover {
    background-color: #217dbb; /* Cor azul um pouco mais escura ao passar o mouse sobre o bot達o */
  }
  