body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f5f9; /* Cor de fundo azul claro */
}

.container {
    text-align: center;
}

.blue-label {
    color: #3498db; /* Cor azul clara para as letras */
}

.blue-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db; /* Cor azul clara para o botão antes de ser clicado */
    color: white; /* Cor branca para as letras no botão */
    border: none;
    border-radius: 4px;
}

.blue-button:hover {
    background-color: #217dbb; /* Cor azul um pouco mais escura ao passar o mouse sobre o botão */
}

.balanca {
    position: relative;
    width: 300px;
    height: 200px;
    margin-top: 20px;
}

.base {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 20px;
    background-color: #555;
    transform: translateX(-50%);
}

.barra {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 100%;
    background-color: #555;
    transform: translateX(-50%);
}

.prato-esquerdo,
.prato-direito {
    position: absolute;
    bottom: 20px;
    width: 80px;
    height: 40px;
    background-color: #ccc;
    transform: translateX(-50%); /* Centralizar os pratos */
}

.prato-esquerdo {
    left: 25%;
}

.prato-direito {
    left: 75%;
}

.equilibrio .prato-esquerdo,
.equilibrio .prato-direito {
    transform: translateX(-50%);
}

.inclina-esquerda .prato-esquerdo {
    transform: translateX(-150%);
}

.inclina-direita .prato-direito {
    transform: translateX(50%);
}
