  body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-style: italic; /* Define a fonte como itálico */
    color: #333; /* Define a cor da letra como cinza escuro */
    text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5); /* Adiciona sombra cinza claro */
  }
  
  .calculator {
    text-align: center;
    padding: 20px;
    border: 1px solid #0703f9;
    border-radius: 5px;
    background-color: #d2cbbec8;
    width: 300px; /* Ajuste a largura da calculadora */
  }
    
  .calculator h2 {
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    font-family: "Arial", sans-serif; /* Altere a fonte conforme necessário */
    color: #333; /* Altere a cor da letra para cinza escuro */
    text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5); /* Adiciona sombra cinza claro */
  }
  
  .calculator label {
    display: block; /* Cada label ocupa uma linha */
    margin-bottom: 10px; /* Espaçamento abaixo de cada label */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #555; /* Altere a cor do texto conforme desejado */
  }
  
  .calculator input,
  .calculator select {
    width: calc(100% - 220px); /* Largura do input e select */
    padding: 5px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento abaixo de cada campo */
  }
  
  .calculator button {
    width: 50%; /* Botão ocupa toda a largura disponível */
    padding: 10px; /* Espaçamento interno */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
  }
  
  .calculator button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
  }
  
  #result {
    margin-top: 20px; /* Espaçamento acima do resultado */
    font-size: 18px;
  }
  