#pessoa-enforcada {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
  }
  
  .cabeca, .tronco, .braco-direito, .braco-esquerdo, .perna-direita, .perna-esquerda {
    background-color: #333;
    border-radius: 50%; /* Adicionado para criar uma forma mais arredondada */
  }
  
  .cabeca {
    width: 60px;
    height: 60px;
  }
  
  #pessoa-enforcada .tronco {
    width: 20px;
    height: 60px;
  }
  
  #pessoa-enforcada .braco-direito, #pessoa-enforcada .braco-esquerdo {
    width: 10px;
    height: 40px;
    margin-top: -40px;
  }
  
  #pessoa-enforcada .braco-direito {
    margin-left: 10px; /* Adicionado para posicionar o braço direito ao lado do tronco */
  }
  
  #pessoa-enforcada .perna-direita, #pessoa-enforcada .perna-esquerda {
    width: 15px;
    height: 50px;
    display: flex;
  }
  
  #pessoa-enforcada .perna-direita {
    margin-left: 5px; /* Adicionado para posicionar a perna direita ao lado da perna esquerda */
  }