#pessoa-enforcada {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
  }
  
  .cabeca, .tronco, .braco-direito, .braco-esquerdo, .perna-direita, .perna-esquerda {
    width: 30px;
    height: 30px;
    background-color: #333;
    margin: 5px;
  }
  
  #pessoa-enforcada .tronco {
    width: 40px;
    height: 60px;
  }
  
  #pessoa-enforcada .braco-direito, #pessoa-enforcada .braco-esquerdo {
    width: 15px;
    height: 40px;
  }
  
  #pessoa-enforcada .perna-direita, #pessoa-enforcada .perna-esquerda {
    width: 20px;
    height: 50px;
  }
  
  /* Restante do seu CSS permanece o mesmo */
  