body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.word-display {
  font-size: 24px;
  margin-bottom: 10px;
}

.letters-guessed {
  font-size: 18px;
  margin-bottom: 10px;
}

.attempts-left {
  font-size: 18px;
}

.guess-input {
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.guess-button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#hangman {
  margin-top: 20px;
}

#hangman img {
  max-width: 100%;
}
