/* Este bloco define a fonte e seu estilo junto com a posição */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  /* Este bloco define a cor do título do jogo */
  h1 {
    color: #333;
  }
  
  /* Este bloco define o tamanho da fonte e a sua posição */
  #estado-jogo {
    font-size: 24px;
    margin-bottom: 5px; /* Diminuir a margem inferior */
  }
  
  /* Este bloco define o tamanho da fonte e a sua posição */
  #tentativas-restantes {
    font-size: 18px;
    margin-bottom: 5px; /* Diminuir a margem inferior */
  }
  
  /* Este bloco define o tamanho da fonte, cor e a sua posição */
  #letras-incorretas {
    color: red;
    font-size: 18px;
    margin-bottom: 5px; /* Diminuir a margem inferior */
  }
  
  /* Este bloco define o tamanho da fonte, cor e a sua posição */
  #entrada-letra {
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
  }
  
  /* Este bloco define o tamanho da fonte, cor e a sua posição */
  #verificar-letra {
    font-size: 16px;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Este bloco define a cor de fundo do botão e quando o botão e precionado */
  #verificar-letra:active {
    background-color: blue;
    color: white;
  }
  
  /* Este bloco define o tamanho da fonte, cor e a sua posição */
  #pessoa-enforcada {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-top: 10px; /* Diminuir a margem superior */
    color: #333;
  }
  