  /* Os blocos abaixo adicionam os dedos dos pés à perna direita */
  #pessoa-enforcada .perna-direita-dedo1 {
    position: relative; /* Define a posição do elemento como relativa ao seu posicionamento normal */
    top: -195px; /* Define a posição do dedo */
    left: 6px; /* Define a posição do dedo 1 à direita */
    width: 5px; /* Define a largura do dedo */
    height: 7px; /* Define a altura do dedo */
    background-color: #333; /* Define a cor de fundo do dedo como preto */
    border-radius: 0 0 10px 10px; /* Adiciona bordas arredondadas à parte inferior do dedo */
  }
  
  #pessoa-enforcada .perna-direita-dedo2 {
    position: relative; /* Define a posição do elemento como relativa ao seu posicionamento normal */
    top: -202px; /* Define a posição do dedo */
    left: 5px;
    width: 4px; /* Define a largura do dedo */
    height: 8px; /* Define a altura do dedo */
    background-color: #333; /* Define a cor de fundo do dedo como preto */
    border-radius: 0 0 10px 10px; /* Adiciona bordas arredondadas à parte inferior do dedo */
  }
  
  #pessoa-enforcada .perna-direita-dedo3 {
    position: relative; /* Define a posição do elemento como relativa ao seu posicionamento normal */
    top: -211px; /* Define a posição do dedo */
    left: 5.2px;
    width: 3px; /* Define a largura do dedo */
    height: 8px; /* Define a altura do dedo */
    background-color: #333; /* Define a cor de fundo do dedo como preto */
    border-radius: 0 0 10px 10px; /* Adiciona bordas arredondadas à parte inferior do dedo */
  }
  
/* O bloco abaixo cria as partes do enforcado */
#pessoa-enforcada {
    display: flex; /* Define um contêiner flexível, permitindo o uso de propriedades de layout flexbox */
    flex-direction: column; /* Alinha os itens flexíveis em uma coluna (verticalmente) */
    align-items: center; /* Centraliza os itens flexíveis horizontalmente no contêiner */
    margin-top: 20px; /* Adiciona um espaçamento em pixel acima do elemento */
    font-size: 24px; /* Define o tamanho da fonte do texto */
    color: #333; /* Define a cor do texto */
  }
  

  /* O bloco abaixo cria as partes do enforcado */
#pessoa-enforcada {
    display: flex; /* Define um contêiner flexível, permitindo o uso de propriedades de layout flexbox */
    flex-direction: column; /* Alinha os itens flexíveis em uma coluna (verticalmente) */
    align-items: center; /* Centraliza os itens flexíveis horizontalmente no contêiner */
    margin-top: 20px; /* Adiciona um espaçamento em pixel acima do elemento */
    font-size: 24px; /* Define o tamanho da fonte do texto */
    color: #333; /* Define a cor do texto */
  }
  
  /* O bloco abaixo insere a cor preta no corpo do enforcado */
  .cabeca, .tronco, .braco-esquerdo, .braco-direito, .perna-direita, .perna-esquerda {
    margin: 5px;
    background-color: #333;
  }
  
  /* O bloco abaixo adiciona o tamanho da cabeça */
  #pessoa-enforcada .cabeca {
    position: relative; /* Define a posição do elemento posicionando-o de acordo com o fluxo da página */
    width: 40px; /* Define a altura */
    height: 40px; /* Define a largura */
    border-radius: 50%; /* Cria uma cabeça arredondada */
  }
  
  /* O bloco abaixo adiciona o tamanho do tronco */
  #pessoa-enforcada .tronco {
    position: relative; /* Define a posição do elemento posicionando-o de acordo com o fluxo da página */
    top: -70px; /* Define a posição do elemento no topo da página */
    width: 30px;
    height: 60px;
    border-radius: 20px; /* Adiciona bordas arredondadas ao tronco */
  }
  
  /* O bloco abaixo adiciona o tamanho dos braços e arredonda as extremidades */
  #pessoa-enforcada .braco-esquerdo, #pessoa-enforcada .braco-direito {
    position: relative; /* Define a posição do elemento posicionando-o de acordo com o fluxo da página */
    width: 15px;
    height: 40px;
    border-radius: 10px; /* Arredonda as extremidades dos braços */
  }
  
  /* O bloco abaixo adiciona o posicionamento do braço direito à direita do tronco */
  #pessoa-enforcada .braco-esquerdo {
    top: -135px;
    right: -25px; /* Define a posição do elemento à direita */
  }
  
  /* O bloco abaixo adiciona o posicionamento do braço esquerdo à esquerda do tronco */
  #pessoa-enforcada .braco-direito {
    top: -249px; /* Define a posição do elemento no topo da página */
    left: -25px; /* Define a posição do elemento à esquerda */
  }
  
  /* O bloco abaixo adiciona o tamanho das pernas e arredonda as extremidades */
  #pessoa-enforcada .perna-esquerda, #pessoa-enforcada .perna-direita {
    position: relative; /* Define a posição do elemento posicionando-o de acordo com o fluxo da página */
    width: 15px;
    height: 50px;
    border-radius: 10px; /* Arredonda as extremidades das pernas */
  }
  
  /* O bloco abaixo adiciona o posicionamento da perna direita embaixo do tronco */
  #pessoa-enforcada .perna-esquerda {
    top: -311px; /* Define a posição do elemento no topo da página */
    left: 10px; /* Define a posição do elemento à esquerda */
  }
  
  /* O bloco abaixo adiciona o posicionamento da perna esquerda embaixo do tronco */
  #pessoa-enforcada .perna-direita {
    top: -379px; /* Define a posição do elemento no topo da página */
    left: -10px; /* Define a posição do elemento à esquerda */
  }