/* Este bloco cria as partes do enforcado */
#pessoa-enforcada {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

/* Este bloco insere a cor preta no corpo do enforcado */
.cabeca, .tronco, .braco-esquerdo, .braco-direito, .perna-direita, .perna-esquerda {
  background-color: #333;
  margin: 5px;
}

/* Este bloco adiciona o tamanho da cabeça */
#pessoa-enforcada .cabeca {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Cria uma cabeça arredondada */
  position: relative;
}

/* Este bloco adiciona os detalhes da cabeça (olhos, nariz, boca, orelhas e cabelo) */
#pessoa-enforcada .cabeca-olho-esquerdo, .cabeca-olho-direito {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%; /* Olhos ficão arredondada */
  position: relative;
}

#pessoa-enforcada .cabeca-olho-esquerdo {
  top: -31.5px;
  left: 8px;
}

#pessoa-enforcada .cabeca-olho-direito {
  top: -36.5px;
  right: 8px;
}

#pessoa-enforcada .nariz {
  top: -40px;
  left: -10x;
  width: 5px;
  height: 10px;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

#pessoa-enforcada .boca {
  top: -71px;
  left: 0px;
  width: 20px;
  height: 5px;
  position: relative;
  background-color: white;
  border-radius: 0 0 50px 50px;
}

#pessoa-enforcada .cabeca-orelha-esquerda, .cabeca-orelha-direita {
  width: 7px;
  height: 13px;
  background-color: #333;
  border-radius: 50%; /* Olhos ficão arredondada*/
  position: relative;
}

#pessoa-enforcada .cabeca-orelha-esquerda {
  top: -51.5px;
  left: 20px;
}

#pessoa-enforcada .cabeca-orelha-direita {
  top: -65px;
  right: 20px;
}

*#pessoa-enforcada .cabelo {
  top: -91px;
  left: 0px;
  width: 34.5px;
  height: 8px;
  background-color: #333;
  border-radius: 50px 50px 0 0px;
  position: relative;
}

/* Este bloco adiciona o tamanho do tronco */
#pessoa-enforcada .tronco {
  top: -70px;
  width: 30px;
  height: 60px;
  border-radius: 20px; /* Adiciona bordas arredondadas ao tronco */
  position: relative;
}


/* Este bloco adiciona o tamanho dos braços e arredonda as extremidades */
#pessoa-enforcada .braco-esquerdo, #pessoa-enforcada .braco-direito {
  width: 15px;
  height: 40px;
  position: relative;
  border-radius: 10px; /* Arredonda as extremidades dos braços */
}

/* Este bloco adiciona o posicionamento do braço direito à direita do tronco */
#pessoa-enforcada .braco-esquerdo {
  top: -135px;
  right: -25px;
}

/* Os blocos abaixo adiciona os dedos da mao esquerda */
#pessoa-enforcada .braco-esquerdo-dedo1 {
  top: -149px;
  right: -15.5px;
  width: 3px;
  height: 12px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
  /* A linha abaixo inclina o dedo em 30 graus */
  transform: rotate(20deg);
  /* A linha abaixo define o ponto de rotação */
  transform-origin: bottom right;
}

#pessoa-enforcada .braco-esquerdo-dedo2 {
  top: -160px;
  right: -21px;
  width: 2.5px;
  height: 15px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

#pessoa-enforcada .braco-esquerdo-dedo3 {
  top: -172px;
  right: -24.5px;
  width: 2.5px;
  height: 14px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

#pessoa-enforcada .braco-esquerdo-dedo4 {
  top: -184px;
  right: -28px;
  width: 2.5px;
  height: 11px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

#pessoa-enforcada .braco-esquerdo-dedo5 {
  top: -199px;
  right: -31.4px;
  width: 2.3px;
  height: 12px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

/* Este bloco adiciona o posicionamento do braço esquerdo à esquerda do tronco */
#pessoa-enforcada .braco-direito {
  top: -249px;  
  left: -25px;
}


/* Os blocos abaixo adiciona os dedos da mao direita */
#pessoa-enforcada .braco-direito-dedo1 {
  top: -263.5px;
  left: -15.5px;
  width: 3px;
  height: 12px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
  /* A linha abaixo inclina o dedo em 30 graus */
  transform: rotate(-23.5deg);
  /* A linha abaixo define o ponto de rotação */
  transform-origin: bottom right;
}

#pessoa-enforcada .braco-direito-dedo2 {
  top: -274px;
  left: -20.8px;
  width: 2.5px;
  height: 15px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

#pessoa-enforcada .braco-direito-dedo3 {
  top: -286.1px;
  left: -24.3px;
  width: 2.5px;
  height: 14px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

#pessoa-enforcada .braco-direito-dedo4 {
  top: -298px;
  left: -28px;
  width: 2.5px;
  height: 11px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

#pessoa-enforcada .braco-direito-dedo5 {
  top: -313px;
  left: -31.4px;
  width: 2.3px;
  height: 12px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

/* Este bloco adiciona o tamanho das pernas e arredonda as extremidades */
#pessoa-enforcada .perna-esquerda, #pessoa-enforcada .perna-direita {
  width: 15px;
  height: 50px;
  position: relative;
  border-radius: 10px; /* Arredonda as extremidades das pernas */
}

/* Este bloco adiciona o posicionamento da perna direita embaixo do tronco */
#pessoa-enforcada .perna-esquerda {
  top: -311px;
  left: 10px;
}

/* Este bloco adiciona o sapato da perna esquerda */
#pessoa-enforcada .perna-esquerda-sapato {
  top: -317px;
  right: -10px;
  width: 16px;
  height: 8px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

/* Este bloco adiciona o posicionamento da perna esquerda embaixo do tronco */
#pessoa-enforcada .perna-direita {
  top: -379px;
  left: -10px;
}

/* Este bloco adiciona o sapato da perna esquerda */
#pessoa-enforcada .perna-direito-sapato {
  top: -385px;
  left: -10px;
  width: 16px;
  height: 8px;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

/* Todos os blocos abaixo são os mesmo do arquivo forca.CSS do Meu_Primeiro_Jogo a qual foi criado */

/* Este bloco define a fonte e seu estilo junto com a posição */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

/* Este bloco define a cor do título do jogo */
h1 {
  color: #333;
}

/* Este bloco define o tamanho da fonte e a sua posição */
#estado-jogo {
  top: 250px; /*aqui*/
  font-size: 24px;
  text-align: center;
  /*margin-bottom: 20px;*/
  margin-bottom: 5px;
  position: absolute; /*aqui*/
}

/* Este bloco define o tamanho da fonte e a sua posição */
#tentativas-restantes {
  top: 290px;
  font-size: 18px;
  /*margin-bottom: 10px;*/
  margin-bottom: 5px;
  position: absolute; /*aqui*/
}

/* Este bloco define o tamanho da fonte, cor e a sua posição */
#letras-incorretas {
  top: 310px;
  color: red;
  font-size: 18px;
  /*margin-bottom: 10px;*/
  margin-bottom: 5px;
  position: absolute; /*aqui*/
}

/* Este bloco define o tamanho da fonte, cor e a sua posição */
#entrada-letra {
  font-size: 16px;
  margin-top: 10px;
  padding: 5px;
}

/* Este bloco define o tamanho da fonte, cor e a sua posição */
#verificar-letra {
  font-size: 16px;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Este bloco define a cor de fundo do botão e quando o botão e precionado */
#verificar-letra:active {
  background-color: blue;
  color: white;
}

/* Este bloco define o tamanho da fonte, cor e a sua posição */
#pessoa-enforcada {
  top: -20px; /*aqui*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  /*margin-top: 20px;*/
  margin-top: 10px;
  color: #333;
  position: relative; /*aqui*/
}